{
  "log": {
    "_recordingName": "validate-invocation",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a22ea652b31729e5daea0e965ed6d97c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.hackerone.com/v1/me/programs"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 8566,
            "text": "{\"data\":[{\"id\":\"60700\",\"type\":\"program\",\"attributes\":{\"handle\":\"jupiterone_demo_h1b\",\"policy\":\"# What we are looking for\\r\\nWe want to proactively discover and remediate security vulnerabilities on our digital assets\\r\\n\\r\\nThe vulnerabilities identified in the HackerOne reports will be classified by the degree of risk as well as the impact they present to the host system, this includes the amount and type of data exposed, privilege level obtained, the proportion of systems or users affected.\\r\\n\\r\\n# What is a Bug Bounty Program?\\r\\nJupiterOne demo’s Bug Bounty Program (BBP[...]
