{
  "log": {
    "_recordingName": "hackeroneApiKey-auth-error",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a22ea652b31729e5daea0e965ed6d97c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.hackerone.com/v1/me/programs"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 27,
            "text": "{\"errors\":[{\"status\":401}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "www-authenticate",
              "value": "Basic realm=\"HackerOne API\""
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 371,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
