{
  "log": {
    "_recordingName": "fetch-organization",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2fd9190ee6ee5d6441d452419593ba03",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "number": "1",
                "size": "50"
              }
            }
          ],
          "url": "https://api.hackerone.com/v1/me/organizations?page%5Bnumber%5D=1&page%5Bsize%5D=50"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 212,
            "text": "{\"data\":[{\"id\":\"53696\",\"type\":\"organization\",\"attributes\":{\"handle\":\"jupiterone_demo_demo\",\"created_at\":\"2022-12-06T06:48:20.843Z\",\"updated_at\":\"2022-12-06T06:48:20.843Z\"}}],\"links\":{}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"903da775d605439f0ae0f263be789661\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1533,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
