{
  "log": {
    "_recordingName": "fetch-reports",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "cdb20c629ba520c8f92fdb847b1b594a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": {
                "program": [
                  "jupiterone_demo_h1b"
                ]
              }
            }
          ],
          "url": "https://api.hackerone.com/v1/reports?filter%5Bprogram%5D%5B%5D=jupiterone_demo_h1b"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 135165,
            "text": "{\"data\":[{\"id\":\"1795020\",\"type\":\"report\",\"attributes\":{\"title\":\"Demo report: XSS in JupiterOne demo H1B home page\",\"main_state\":\"open\",\"state\":\"new\",\"created_at\":\"2022-12-06T17:18:15.515Z\",\"vulnerability_information\":\"In some ***fantasy world***, the home page of JupiterOne demo H1B is vulnerable to an *imaginary* Cross-Site Scripting attack.\\n\\n1. Visit home page of JupiterOne demo H1B\\n2. Open the browser's javascript console\\n3. Type `alert(/xss!/)` and press enter\\n4. Profit!\\n\\n## Impact\\n\\nIn our fantasy world, exploiting this vulnerability allows us to run an external script on your website that for example steals the cookies of the users that's facing the XSS and thus gaining access to the account of the victim.\",\"triaged_at\":null,\"closed_at\":null,\"last_reporter_activity_at\":\"2022-12-09T17:18:16.437Z\",\"first_program_activity_at\":null,\"last_program_activity_at\":null,\"bounty_awarded_at\":null,\"swag_awarded_at\":null,\"disclosed_at\":null,\"reporter_agreed_on_going_public_at\":null,\"last_public_activity_at\":\"2022-12-09T17:18:16.437Z\",\"last_activity_at\":\"2022-12-09T17:18:16.437Z\",\"cve_ids\":[],\"source\":null,\"timer_bounty_awarded_elapsed_time\":null,\"timer_bounty_awarded_miss_at\":null,\"timer_first_program_response_miss_at\":null,\"timer_first_program_response_elapsed_time\":null,\"timer_report_resolved_miss_at\":null,\"timer_report_resolved_elapsed_time\":null,\"timer_report_triage_miss_at\":null,\"timer_report_triage_elapsed_time\":null},\"relationships\":{\"reporter\":{\"data\":{\"id\":\"3683\",\"type\":\"user\",\"attributes\":{\"reputation\":100,\"username\":\"demo-hacker\",\"name\":\"Demo Hacker\",\"disabled\":false,\"created_at\":\"2014-03-17T20:14:25.383Z\",\"profile_picture\":{\"62x62\":\"https://profile-photos.hackerone-user-content.com/variants/000/003/683/34dc17c69760632eba8908c6bc708eb7a20edee3_original.png/866ee71cd31a762660c292f5a83c460018409d8ecb48c41a0a6a99f85339baf4\",\"82x82\":\"https://profile-photos.hackerone-user-content.com/variants/000/003/683/34dc17c69760632eba8908c6bc708eb7a20edee3_original.png/94b3712d9e5abbd36ce7a482476dd87ba5bbd7e8343379fcbab9f3c0fe8b2bb9\",\"110x110\":\"https://profile-photos.hackerone-user-content.com/variants/000/003/683/34dc17c69760632eba8908c6bc708eb7a20edee3_original.png/4de4742e9f2080cae5560af6ba87bfc10d4615dcad7477b4736323d9aefd0955\",\"260x260\":\"https://profile-photos.hackerone-user-content.com/variants/000/003/683/34dc17c69760632eba8908c6bc708eb7a20edee3_original.png/86bca9490b71a481329efc85de3a82a98f6c29475f4926fd2b5fc844b96899c0\"},\"bio\":\"\",\"website\":null,\"location\":\"support@hackerone.com\",\"hackerone_triager\":false}}},\"assignee\":{\"data\":{\"id\":\"2522558\",\"type\":\"user\",\"attributes\":{\"username\":\"ninetreats00\",\"name\":\"Sam Andrus\",\"disabled\":false,\"created_at\":\"2022-12-06T17:18:09.499Z\",\"profile_picture\":{\"62x62\":\"/assets/avatars/default-71a302d706457f3d3a31eb30fa3e73e6cf0b1d677b8fa218eaeaffd67ae97918.png\",\"82x82\":\"/assets/avatars/default-71a302d706457f3d3a31eb30fa3e73e6cf0b1d677b8fa218eaeaffd67ae97918.png\",\"110x110\":\"/assets/avatars/default-71a302d706457f3d3a31eb30fa3e73e6cf0b1d677b8fa218eaeaffd67ae97918.png\",\"260x260\":\"/assets/avatars/default-71a302d706457f3d3a31eb30fa3e73e6cf0b1d677b8fa218eaeaffd67ae97918.png\"},\"signal\":null,\"impact\":null,\"reputation\":null,\"bio\":null,\"website\":null,\"location\":null,\"hackerone_triager\":false}}},\"program\":{\"data\":{\"id\":\"60700\",\"type\":\"program\",\"attributes\":{\"handle\":\"jupiterone_demo_h1b\",\"created_at\":\"2022-12-06T06:48:21.077Z\",\"updated_at\":\"2022-12-06T06:49:10.570Z\"}}},\"weakness\":{\"data\":{\"id\":\"1450\",\"type\":\"weakness\",\"attributes\":{\"name\":\"Absolute Path Traversal\",\"description\":\"An adversary with access to file system resources, either directly or via application logic, will use various file absolute paths and navigation mechanisms such as \\\"..\\\" to extend their range of access to inappropriate areas of the file system. The goal of the adversary is to access directories and files that are intended to be restricted from their access.\",\"external_id\":\"capec-597\",\"created_at\":\"2022-07-06T18:59:45.367Z\"}}},\"structured_scope\":{\"data\":{\"id\":\"274631\",\"type\":\"structured-scope\",\"attributes\":{\"asset_type\":\"URL\",\"asset_identifier\":\"jupiterone.com\",\"eligible_for_bounty\":true,\"eligible_for_submission\":true,\"instruction\":\"The primary JupiterOne demo site where you can manage your account, learn about products \\u0026 services, get support, etc.\",\"max_severity\":\"critical\",\"created_at\":\"2022-12-06T06:48:25.412Z\",\"updated_at\":\"2022-12-06T06:48:25.412Z\",\"reference\":null}}},\"bounties\":{\"data\":[]},\"custom_field_values\":{\"data\":[]}}},{\"id\":\"1794559\",\"type\":\"report\",\"attributes\":{\"title\":\"Backup SQL file lingering on https://ops.jupiterone.com/\",\"main_state\":\"open\",\"state\":\"triaged\",\"created_at\":\"2022-12-06T06:51:29.205Z\",\"vulnerability_information\":\"The JupiterOne demo Ops website - `ops.jupiterone.com` has a lingering SQL backup file that is\\npublicly accessible and downloadable. The file contains a SQL database backup that contains\\nprivileged user information and secret keys.[...]
